APP_NAME=Schengers
APP_ENV=local
APP_KEY=base64:1Th4cmm9bdNzKlp9l4MxdER8VHEzJ5eNlq6LDMdJ3eE=
APP_DEBUG=true
APP_URL=http://localhost:8000


APP_LOCALE=pt-BR
APP_FALLBACK_LOCALE=pt-BR
APP_FAKER_LOCALE=pt-BR

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

MP_ACCESS_TOKEN=APP_USR-4885502180801797-030419-67ec5f9afe6c46a6bf291033401b8bdb-3244936574
MP_PUBLIC_KEY=APP_USR-c9e0148d-3701-4d9a-85c6-9e43807da584

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=db-schengers-tcc
DB_USERNAME=postgres
DB_PASSWORD=19junho04

SESSION_DRIVER=database
FRONTEND_URL=http://localhost:5173
SANCTUM_STATEFUL_DOMAINS=localhost:5173

SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=schengers.plataform@gmail.com
MAIL_PASSWORD=usblimimvymbxrdi
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=schengers.plataform@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
